body {
	background-color: aliceblue;
}
ul#menu li {
    display: inline;
}

ul#menu li a {
    background-color: black;
    color: white;
    padding: 5px 20px;
    border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    background-color: orange;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.lineavg {
  fill: none;
  stroke: #3333FF;
  stroke-width: 1.5px;
}

.linemin {
  fill: none;
  stroke:  #CC0066;
  stroke-width: 1.5px;
}

.linemax {
  fill: none;
  stroke: #99CC66;
  stroke-width: 1.5px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.pointer line {
	fill: none;
	stroke: orange;
	stroke-width: 2px;
}

p {
	align-content: center;
	display: inline;
}

p#averagedata{
	color: #3333FF;
}

p#mindata{
	color: #CC0066;
}

p#maxdata{
	color: #99CC66;
}